$blue: #2E8FF0;
$blue-shadow: #2E8FF029;
$red: #F44682;
$red-shadow: #EF7DA05C;
$soft-red: #EF7DA0;
$green: #66BB6A;
$green-shadow: #4CAF505C;
$gray: #F3F6F9;
$white: #fff;
$wrapper-shadow: #523F690D;
$wrapper-border: #EBEDF3;
$text-color: #3F4254;
$input-bg: #F3F6F9;
$table-head-text-color: #A4A4B5;
$table-body-text-color: #F4F5F8;
$table-hover-bg: #EFF0F4;